:root {
    --main-background-color:rgb(242,243,226);
    --main-background-gradient: linear-gradient(90deg, rgba(242,243,226,1) 0%, rgba(178,229,248,1) 50%, rgba(244,179,239,1) 100%); 

    --sidebar-color: white;
    --sidebar-min-width: 200px;
    --sidebar-width: 350px;

}

#root-container {
    background: var(--main-background-color);
    background: var(--main-background-gradient);
    display: flex;
    justify-content: space-between;
    
}

#sidebar-container {
    background-color: var(--sidebar-color);
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    min-width: var(--sidebar-min-width);
    height: 100vh;

     /* padding-top: 100px; */
}

ul {
    margin: 0;
}

#main-content-container {
    display: flex;
    align-items: center;
    width: 100vw;


  
    /* change the space in between 2 boxes to clamp instead of using flex */
}

#todo-container, #info-container {
    width: clamp(200px, 30vw, 800px);
    height: 75vh;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

#todo-container {
    margin-right: clamp(50px, 5vw, 100px);
    margin-left: clamp(50px, 5vw, 15vw);
}

#info-container {

}