:root {
    --main-background-color:rgb(242,243,226);
    --main-background-gradient: linear-gradient(90deg, rgba(242,243,226,1) 0%, rgba(178,229,248,1) 50%, rgba(244,179,239,1) 100%); 

    --sidebar-color: white;
    --sidebar-min-width: 200px;
    --sidebar-width: 350px;

}

#root-container {
    background: var(--main-background-color);
    background: var(--main-background-gradient);
    display: flex;
    justify-content: space-between;
    
}

#header {
    width: 100vw;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 100px;
    
}

#sidebar-container {
    background-color: var(--sidebar-color);
    /* height: var(--sidebar-height); */
    width: var(--sidebar-width);
    min-width: var(--sidebar-min-width);
    height: 100vh;
    padding: 100px 30px 0 30px;

     /* padding-top: 100px; */
}

ul {
    margin: 0;
}

#projects-label {
    font-size: 30px;
}

li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 25px;

    /* responsive font size */
}

#main-content-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100vw;


  
    /* change the space in between 2 boxes to clamp instead of using flex */
}

#task-container {
    margin-right: clamp(50px, 5vw, 100px);
    margin-left: clamp(50px, 5vw, 15vw);
    padding: 50px 100px 0px 100px;


    width: 500px;
    height: 75vh;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
}



.individual-task-container {
    display: flex;
    justify-content: space-between;
}

.individual-task-container:hover {
    border: solid red 1px;
}

dialog {
    margin-top: 300px;
    z-index: 1;
    width: 500px;
}

.dialog-content {
    display: flex;
    gap: 40%;
}
